In [8]:
import pandas as pd

In [9]:
gramas = pd.read_csv('/home/duban/Workspace/Mapeo/Mapeo-OCPT/1. lenguaje controlado/gramas4 - parcial.csv')

In [10]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
        ("Á", "A"),
        ("É", "E"),
        ("Í", "I"),
        ("Ó", "O"),
        ("Ú", "U"),
    )
    for a, b in replacements:
        s = s.replace(a, b)
        
    return s

¡HOLA MUNDO!

In [11]:

sin_tilde = []
for grama in gramas['Gramas']:
    sin_tilde.append(normalize(grama))

gramas['Gramas sin tilde'] = sin_tilde

In [38]:
kk = pd.DataFrame()
kk['Gramas'] = gramas['Gramas sin tilde'].drop_duplicates().tolist()

kk.to_csv('gramas_sin_tilde.csv')

In [39]:
kk

             Gramas
0         licencias
1          efectivo
2            fondos
3           funcion
4              pago
...             ...
64881  desempefiare
64882  microcefalia
64883      pulpitis
64884         cadss
64885  concretarlos

[64886 rows x 1 columns]